.header {
  background-color: black;
}


.sign-up-button {
  background: #8e7d4d;
  border: 1px solid #8e7d4d;
  color: #fff;
  font-size: 11px;
  padding: 16px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

a {
  color:darkgrey;
  text-decoration: none;
}

a:hover {
  color:rgb(246, 235, 235);
  text-decoration: none;
}

.onsen-1 {
  background-image: url("../images/landing-onsen.jpeg");
  background-size: cover;
  height: 650px;
}

.btnBlack {
  background: #000;
  border: 1px solid #000;
  color: #fff;
  border-color: rgb(235, 229, 229);
}

.btn {
  font-size: 17px;
  line-height: 1.2;
  color: #fff;
  padding: 16px 62px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 28px 0 0;
  display: inline-block;
}

.bannerSecTextH1 {
  text-transform: uppercase;
  letter-spacing: 22px;
  margin: 0;
  margin-left: auto;
   margin-right:  auto;
   text-align: center;
   width: 597px;
  margin-bottom: 20px;
  line-height: 1.2;
  color: #fff;
  font-size: 120px;
  padding-top: 124px;
  font-family: 'DM Serif Display', serif;
  border-bottom: 1px solid rgb(246, 235, 235);

}

.bannerSecTextH3 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
}

.text-center {
  text-align: center;
}
