.onsenImage {
  width:600px;
}

.signalImage {
  width: 90%;
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  margin-bottom: 20px;
}

.logoCenter {
  display: flex;
  justify-content: center;

}
