.header {
  background-color: black;

}

.sign-up-button {
  background: #8e7d4d;
  border: 1px solid #8e7d4d;
  color: #fff;
  font-size: 11px;
  padding: 16px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.onsen-1 {
  background-image: url("./images/landing-onsen.jpeg");
  background-size: cover;
  height: 650px;
}

.btn-black {
  background: #000;
  border: 1px solid #000;
  color: #fff;
  border-color: #000;
}

.btn {
  font-size: 17px;
  line-height: 1.2;
  color: #fff;
  padding: 16px 62px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 28px 0 0;
  display: inline-block;
}

.banner-sec-text h1 {
  text-transform: uppercase;
  letter-spacing: 18px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  line-height: 1.2;
  color: #fff;
  font-size: 100px;
  padding-top: 84px;
}

.banner-sec-text h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.text-center {
  text-align: center;
}
